set noparent
# <span> and other C++20 headers are not known to this cpplint version
filter=-build/include_order
# using namespace is acceptable in test files and implementation files
filter=-build/namespaces
# transitive includes are common in ROS2 header-only message types
filter=-build/include_what_you_use
